/* Template
 * Design for box
 *
*/
div.box_render{
	width: 6cm;
	height: 3cm;
	border-color: rgb(0,0,0);
	border-style: solid;
	border-width: thin;
	margin: 5px 5px;
	float: left;

}
div.box_render .box_render_inside{
	width: 5.4cm;
	height: 2.4cm;
	border-color: rgb(0,0,0);
	border-style: solid;
	border-width: thin;
	margin: 0 auto;
	top: 0.26cm;
	position: relative;
}
div.box_render .box_render_inside div {
	text-align: center;
	font-family: "VNI-Helve-Condense";
	transform: scale(1.4, 2.8);
	position: relative;
}
div.box_render .box_render_inside .main_name{
	font-weight: bold;
	font-size: 10pt;
	padding-top: 10px;
}
div.box_render .box_render_inside .position_name{
	font-size: 6pt;
	font-weight: bold;
	padding-top: 15px;
}